<h1 class="title">{{ 'CALENDAR.HEADLINE' | translate }}</h1>
<hr class="black-thick-bar">
<br>
<div class="row">

	<div class="col-md-6 text-center">
		<div class="btn-group">

			<button class="btn btn-primary" mwl-date-modifier date="calendarDate"
				decrement="calendarView">{{ 'CALENDAR.CAL_LAST_MONTH' | translate }}</button>
			<button class="btn btn-default" mwl-date-modifier date="calendarDate"
				set-to-today>{{ 'CALENDAR.CAL_TODAY' | translate }}</button>
			<button class="btn btn-primary" mwl-date-modifier date="calendarDate"
				increment="calendarView">{{ 'CALENDAR.CAL_NEXT_MONTH' | translate }}</button>
		</div>
	</div>
	<div class="col-md-6 text-center">
		<h3 class="title"></h3>
	</div>
	<br class="visible-xs visible-sm">

	<div class="col-md-6 text-center">
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="calendarView"
				uib-btn-radio="'year'">{{ 'CALENDAR.CAL_YEAR' | translate }}</label> <label class="btn btn-primary"
				ng-model="calendarView" uib-btn-radio="'month'">{{ 'CALENDAR.CAL_MONTH' | translate }}</label> <label
				class="btn btn-primary" ng-model="calendarView"
				uib-btn-radio="'week'" >{{ 'CALENDAR.CAL_WEEK' | translate }}</label> <label class="btn btn-primary"
				ng-model="calendarView" uib-btn-radio="'day'">{{ 'CALENDAR.CAL_DAY' | translate }}</label>
		</div>
	</div>

</div>
<br>
<mwl-calendar view="calendarView" view-date="calendarDate"
	events="CalendarEvents" view-title="calendarTitle"
	on-event-click="eventClicked(calendarEvent)"
	on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
	edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
	delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
	on-edit-event-click="eventEdited(calendarEvent)"
	on-delete-event-click="eventDeleted(calendarEvent)" cell-is-open="true">
</mwl-calendar>