<h1 class="title">Your calendar</h1>
<hr class="black-thick-bar">
<br>
<div class="row">

	<div class="col-md-6 text-center">
		<div class="btn-group">

			<button class="btn btn-primary" mwl-date-modifier date="calendarDate"
				decrement="calendarView">Previous</button>
			<button class="btn btn-default" mwl-date-modifier date="calendarDate"
				set-to-today>Today</button>
			<button class="btn btn-primary" mwl-date-modifier date="calendarDate"
				increment="calendarView">Next</button>
		</div>
	</div>

	<br class="visible-xs visible-sm">

	<div class="col-md-6 text-center">
		<div class="btn-group">
			<label class="btn btn-primary" ng-model="calendarView"
				uib-btn-radio="'year'">Year</label> <label class="btn btn-primary"
				ng-model="calendarView" uib-btn-radio="'month'">Month</label> <label
				class="btn btn-primary" ng-model="calendarView"
				uib-btn-radio="'week'">Week</label> <label class="btn btn-primary"
				ng-model="calendarView" uib-btn-radio="'day'">Day</label>
		</div>
	</div>

</div>
<br>
<mwl-calendar view="calendarView" view-date="calendarDate"
	events="CalendarEvents" view-title="calendarTitle"
	on-event-click="eventClicked(calendarEvent)"
	on-event-times-changed="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
	edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
	delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
	on-edit-event-click="eventEdited(calendarEvent)"
	on-delete-event-click="eventDeleted(calendarEvent)" cell-is-open="true">
</mwl-calendar>