<div class="span6" data-ng-controller="HomeCtrl" data-ng-init="init()">
	<h1 class="title" translate="HOME.HEADLINE"></h1>
	<hr>
	<div ng-show="authenticated">
		<p translate="HOME.INTRO_PARAGRAPH"></p>
	</div>
	<div ng-show="!authenticated">
		<p>Niste prijavljeni. Kliknite na dugme &quot;login&quot; za ulaz</p>
	</div>
	<div class="col-md-6">
		<h3 class="title" translate="HOME.COMMING_EVENTS"></h3>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th style="min-width: 80px;" translate="HOME.TITLE_EVENT">Naziv</th>
					<th style="width: 20px;"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in events">
					<td class="body-text">{{ 'HOME.EVENT_NAME' | translate }}: {{event.name}}, {{ 'HOME.EVENT_LOCATION' | translate }}: {{event.location}},  {{ 'HOME.EVENT_ENDDATE' | translate }}: {{event.enddate |
						date:'dd/MM/yyyy , hh:mm' }}</td>
					<td><a
						ng-click="viewEvent(event.id)"
						class="btn btn-small btn-primary">View</a></td>
				</tr>
		</table>
		<ul class="pagination pagination-style">
			<li ng-repeat="pagenum in pagenums" class="pagination-style"><a
				class="pagination-style" data-ng-click="getPagedQuery(pagenum)">{{pagenum}}</a></li>
			<li class="pagination-style"><a
				class="pagination-style" data-ng-click="getPagedQuery(20)">>></a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<h3 class="title" translate="HOME.NEWS"></h3>
		<feed summary="true" url="http://www.klix.ba/rss/vijesti" count="3" />
	</div>
</div>