<div class="span6" ng-controller="SettingsCtrl" data-ng-init="init()">
	<h1 class="title">Greetings, {{userconfiguration.username}}</h1>
	<form novalidate="novalidate" class="form-horizontal">
		<div class="control-group">
			<label class="control-label form-control">Current role:
				{{userconfiguration.userrole}}</label> <br>
			<button type="button" class="btn btn-default"
				ng-click="isCollapsed = !isCollapsed">Default language</button>
			<label class="control-label">Current default
				language: {{userconfiguration.defaultlanguage}}</label>
			<div uib-collapse="isCollapsed">
				<br>
				<div class="well well-lg">
					<a ng-click="setLanguage(1)" class="btn btn-primary">Bosnian</a> <a
						ng-click="setLanguage(2)" class="btn btn-primary">English</a> <a
						ng-click="setLanguage(3)" class="btn btn-primary">German</a>
				</div>
			</div>
			<br>
			<div class="checkbox">
				<label><input type="checkbox" value=""
					ng-model="userconfiguration.showended">Show ended events?</label>
			</div>
			<br> <a ng-click="updateSettings()" class="btn btn-primary">Update</a>
		</div>
	</form>
</div>